.choice.skin-3 {
  list-style: none;
}

.choice.skin-3 > li {
  float: left;
  background-color: #323232;
}

.choice.skin-3 > li:hover {
  cursor: pointer;
}

.choice.skin-3 > li > a {
  display: block;
  padding: 18px 19px;
  overflow: hidden;
  font-size: 0;
  color: transparent;
  text-decoration: none;
  text-indent: 100%;
  white-space: nowrap;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-right: 1px solid #4c4c4c;
}

.choice.skin-3 > li > a:hover {
  text-decoration: none;
}

.choice.skin-3 > li > a:active {
  text-decoration: none;
}

.choice.skin-3 > li > a:focus {
  outline: none;
}

.choice.skin-3 > li:last-child > a {
  border-right: 1px solid transparent;
}

.choice.skin-3 > li.choice-selected {
  background-color: #27acd8;
}

.choice.skin-3 .option1 > a {
  background-image: url("../images/icons1.png");
}

.choice.skin-3 .option2 > a {
  background-image: url("../images/icons2.png");
}

.choice.skin-3 .option3 > a {
  background-image: url("../images/icons3.png");
}

.choice.skin-3 .option4 > a {
  background-image: url("../images/icons4.png");
}





/*! normalize.css v2.0.1 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
  display: inline-block;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */

[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif;
  /* 1 */

  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  /* 2 */

}

/*
 * Removes default margin.
 */

body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */

h1 {
  font-size: 2em;
}

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */

dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE 8/9.
 */

mark {
  color: #000;
  background: #ff0;
}

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */

pre {
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
}

/*
 * Sets consistent quote types.
 */

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/*
 * Removes border when inside `a` element in IE 8/9.
 */

img {
  border: 0;
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */

svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */

figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/*
 * Define consistent border, margin, and padding.
 */

fieldset {
  padding: 0.35em 0.625em 0.75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  padding: 0;
  border: 0;
}

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */

button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/*
 * Re-set default cursor for disabled elements.
 */

button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  box-sizing: border-box;
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */

textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}

/* ==========================================================================
   Tables
   ========================================================================== */

/*
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * 1. Removes iframe's border 
 */

iframe[seamless] {
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  border: 0 none transparent;
}

.choice {
  list-style: none;
}

.choice > li {
  float: left;
}

.choice > li:hover {
  cursor: pointer;
}

.choice > li > a {
  text-decoration: none;
}

.choice > li > a:hover {
  text-decoration: none;
}

.choice > li > a:active {
  text-decoration: none;
}

.choice > li > a:focus {
  outline: none;
}

.choice.skin-3 {
  list-style: none;
}

.choice.skin-3 > li {
  float: left;
  background-color: #323232;
}

.choice.skin-3 > li:hover {
  cursor: pointer;
}

.choice.skin-3 > li > a {
  display: block;
  padding: 18px 19px;
  overflow: hidden;
  font-size: 0;
  color: transparent;
  text-decoration: none;
  text-indent: 100%;
  white-space: nowrap;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-right: 1px solid #4c4c4c;
}

.choice.skin-3 > li > a:hover {
  text-decoration: none;
}

.choice.skin-3 > li > a:active {
  text-decoration: none;
}

.choice.skin-3 > li > a:focus {
  outline: none;
}

.choice.skin-3 > li:last-child > a {
  border-right: 1px solid transparent;
}

.choice.skin-3 > li.choice-selected {
  background-color: #27acd8;
}

.choice.skin-3 .option1 > a {
  background-image: url("../images/icons1.png");
}

.choice.skin-3 .option2 > a {
  background-image: url("../images/icons2.png");
}

.choice.skin-3 .option3 > a {
  background-image: url("../images/icons3.png");
}

.choice.skin-3 .option4 > a {
  background-image: url("../images/icons4.png");
}

.choice.skin-5 {
  list-style: none;
}

.choice.skin-5 > li {
  float: left;
  background-color: #fff;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xNSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.05) 100%);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.05)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.05) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.05) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.05) 100%);
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #d9d9d9;
}

.choice.skin-5 > li:hover {
  cursor: pointer;
}

.choice.skin-5 > li > a {
  display: block;
  padding: 8px 15px 6px;
  font-family: "ProximaNova Regular", "Myriad Pro", sans-serif;
  font-size: 13px;
  color: #555;
  text-decoration: none;
  background-color: transparent;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.choice.skin-5 > li > a:hover {
  text-decoration: none;
}

.choice.skin-5 > li > a:active {
  text-decoration: none;
}

.choice.skin-5 > li > a:focus {
  outline: none;
}

.choice.skin-5 > li:first-child {
  -webkit-border-radius: 2px 0 0 2px;
     -moz-border-radius: 2px 0 0 2px;
          border-radius: 2px 0 0 2px;
}

.choice.skin-5 > li:first-child > a {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 2px 0 0 2px;
     -moz-border-radius: 2px 0 0 2px;
          border-radius: 2px 0 0 2px;
}

.choice.skin-5 > li:last-child {
  -webkit-border-radius: 0 2px 2px 0;
     -moz-border-radius: 0 2px 2px 0;
          border-radius: 0 2px 2px 0;
}

.choice.skin-5 > li:last-child > a {
  -webkit-border-radius: 0 2px 2px 0;
     -moz-border-radius: 0 2px 2px 0;
          border-radius: 0 2px 2px 0;
}

.choice.skin-5 > li.choice-selected {
  background-color: #f2f2f2;
  background-image: none;
  border-top: 1px solid #d9d9d9;
  -webkit-box-shadow: inset 0 0 3px 1px #d9d9d9;
     -moz-box-shadow: inset 0 0 3px 1px #d9d9d9;
          box-shadow: inset 0 0 3px 1px #d9d9d9;
}

.choice.skin-6 {
  list-style: none;
}

.choice.skin-6 > li {
  float: left;
  background-color: #7ebdcb;
}

.choice.skin-6 > li:hover {
  cursor: pointer;
}

.choice.skin-6 > li > a {
  display: block;
  padding: 8px 15px 6px;
  font-family: "ProximaNova Regular", "Myriad Pro", sans-serif;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  border-right: 1px solid #a2d0da;
}

.choice.skin-6 > li > a:hover {
  text-decoration: none;
}

.choice.skin-6 > li > a:active {
  text-decoration: none;
}

.choice.skin-6 > li > a:focus {
  outline: none;
}

.choice.skin-6 > li:first-child {
  -webkit-border-radius: 2px 0 0 2px;
     -moz-border-radius: 2px 0 0 2px;
          border-radius: 2px 0 0 2px;
}

.choice.skin-6 > li:first-child > a {
  border-left: 1px solid transparent;
  -webkit-border-radius: 2px 0 0 2px;
     -moz-border-radius: 2px 0 0 2px;
          border-radius: 2px 0 0 2px;
}

.choice.skin-6 > li:last-child {
  -webkit-border-radius: 0 2px 2px 0;
     -moz-border-radius: 0 2px 2px 0;
          border-radius: 0 2px 2px 0;
}

.choice.skin-6 > li:last-child > a {
  border-right: 1px solid transparent;
  -webkit-border-radius: 0 2px 2px 0;
     -moz-border-radius: 0 2px 2px 0;
          border-radius: 0 2px 2px 0;
}

.choice.skin-6 > li.choice-selected {
  background-color: #6ba1ad;
}



/*! normalize.css v2.0.1 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
  display: inline-block;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */

[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif;
  /* 1 */

  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  /* 2 */

}

/*
 * Removes default margin.
 */

body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */

h1 {
  font-size: 2em;
}

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */

dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE 8/9.
 */

mark {
  color: #000;
  background: #ff0;
}

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */

pre {
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
}

/*
 * Sets consistent quote types.
 */

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/*
 * Removes border when inside `a` element in IE 8/9.
 */

img {
  border: 0;
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */

svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */

figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/*
 * Define consistent border, margin, and padding.
 */

fieldset {
  padding: 0.35em 0.625em 0.75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  padding: 0;
  border: 0;
}

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */

button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/*
 * Re-set default cursor for disabled elements.
 */

button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  box-sizing: border-box;
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */

textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}

/* ==========================================================================
   Tables
   ========================================================================== */

/*
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * 1. Removes iframe's border 
 */

iframe[seamless] {
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  border: 0 none transparent;
}