.switch {
  width: 200px;
  height: 50px;
  overflow: hidden;
}

.switch .switch-checkbox {
  display: none;
}

.switch .switch-inner {
  position: relative;
  width: 300px;
  height: 50px;
  overflow: hidden;
}

.switch .switch-inner .switch-on {
  display: block;
  float: left;
  width: 150px;
  height: 50px;
  background-color: blue;
}

.switch .switch-inner .switch-off {
  display: block;
  float: left;
  width: 150px;
  height: 50px;
  text-align: right;
  background-color: #999;
}

.switch .switch-inner .switch-handle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px;
  height: 50px;
  margin-left: -50px;
  background-color: #666;
}

.select .select-wrap {
  width: 200px;
  height: 80px;
  overflow: hidden;
  list-style: none;
}

.select .select-wrap li {
  float: left;
  width: 60px;
  height: 40px;
  text-align: center;
  background-color: #888;
}

.select .select-wrap li a {
  text-decoration: none;
}

.select .select-wrap .select-active {
  background-color: red;
}