// core
.asChoice {
  display: inline-block;
  list-style: none;

  *zoom: 1;
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }

  >li {
    float: left;
    line-height: 1;
    &:hover {
      cursor: pointer;
    }
    >span {
      line-height: 1;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
      &:active {
        text-decoration: none;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

// skin
.asChoice {
  list-style: none;

  > li {
    float: left;
    background-color: #7ebdcb;

    &:hover {
      cursor: pointer;
    }

    > span {
      display: block;
      padding: 8px 15px 6px;

      color: #fff;
      font-size: 13px;
      text-decoration: none;

      border-right: 1px solid lighten(#7ebdcb,10%);
      background-color: transparent;

      &:hover {
        text-decoration: none;
      }
      &:active {
        text-decoration: none;
      }
      &:focus {
        outline: none;
      }

    }

    &:first-child {
      border-radius: 2px 0 0 2px;
      > span {
        border-left: 1px solid transparent;
        border-radius: 2px 0 0 2px;
      }
    }

    &:last-child {
      border-radius: 0 2px 2px 0;
      > span {
        border-right: 1px solid transparent;
        border-radius: 0 2px 2px 0;
      }
    }

    &.asChoice-selected {
      background-color: #6ba1ad;
    }
  }
}
